:root {
    --hb-modal-accept-background-color: #998A7B;
    --hb-modal-background-color: #EAE7D9;
    --hb-modal-text-color: #756452;
}

.modal {
    display: none;
    position: absolute;
    top: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    transition: 0.25s;
}

.modal.show {
    display: flex;
}

.modal.show.showing {
    opacity: 1;
}

.modal-dialog {
    position: relative;
    padding: 2rem;
    max-width: 450px;
    width: 90%;
    background: var(--hb-modal-background-color);
    border-radius: 12px;
    transform: scale(1.25);
    transition: 0.25s;
}

.modal.show.showing .modal-dialog {
    transform: scale(1);
}

.modal-content {

}

.modal-header {

}

.modal-title {
    font-weight: 500;
    font-size: 2.25rem;
    text-align: center;
    color: var(--hb-modal-text-color);
}

.modal-body {
    padding: 1.5rem 0;
}

.modal-body p {
    text-align: center;
    color: var(--hb-modal-text-color);
    font-size: 1rem;
}

.modal-footer {
    display: flex;
    flex-direction: column;
}

.modal-footer > div {
    flex-basis: 100%;
    padding: 0 0.25rem;
}

.modal-footer button {
    width: 100%;
    border: 0.1rem solid var(--hb-new-game-btn-background-color);
    outline: none;
    border-radius: 0.75rem;
    padding: 0.5rem 1rem;
    color: var(--hb-new-game-btn-color);
    margin-bottom: 0.25rem;
    cursor: pointer;
}

.modal-footer .cancel {
    background-color: transparent;
    color: var(--hb-score-color);
}

.modal-footer .accept {
    background-color: var(--hb-new-game-btn-background-color);
}
