@media (min-width: 768px) {
    :root {
        --hb-gameboard-size: 580px;
        --hb-cell-size: 120px;
        --hb-cell-gap: 20px;
        --hb-tile-font-size: 2rem;
    }

    #score__container > div > div {
        flex-direction: column;
    }

    .score {
        grid-template-rows: 1fr;
        grid-template-areas: "title score new-game";
    }

    #score__game-title {
        text-align: left;
    }

    #score__new-game--icon {
        display: none;
    }

    #score__new-game--btn {
        display: block;
    }

    .modal-footer {
        flex-direction: row;
    }

    .modal-footer > div {
        flex-basis: 50%;
    }
}