@media (min-width: 576px) {
    :root {
        --hb-tile-font-size: 1rem;
    }
}

@media (min-width: 768px) {
    :root {
        --hb-tile-font-size: 1.25rem;
    }

    .score__score--wrapper {
        flex-direction: column;
    }

    .score {
        grid-template-rows: 1fr;
        grid-template-areas: "title score new-game";
    }

    #score__game-title {
        text-align: left;
    }

    #score__new-game--icon {
        display: none;
    }

    #score__new-game--btn {
        display: block;
    }

    .modal-footer {
        flex-direction: row;
    }

    .modal-footer > div {
        flex-basis: 50%;
    }

    .action__help-info-wrapper {
        display: flex;
    }

    .action__help-icon--count-container {
        display: none;
    }
}