:root {
    --hb-pure-white-color: #ffffff;
    --hb-row-gutter-x: 0.5rem;
    --hb-body-background-color: #FBF8EF;
    --hb-game-title-color : #766D66;
    --hb-score-background-color: #EAE7D9;
    --hb-score-color: #988878;
    --hb-gameboard-background-color: #BBADA0;
    --hb-cell-background-color: #CCC0B3;
    --hb-tile-number-color-dark: #776E65;
    --hb-tile-number-color-light: #F9F6F2;
    --hb-new-game-icon-color: #937769;
    --hb-new-game-btn-background-color: #937769;
    --hb-new-game-btn-color: #FFF6EB;
    --hb-tile-font-size: 0.625rem;
    --hb-cell-gap: calc(var(--hb-tile-font-size) * 5/8);
    --hb-cell-size: calc(var(--hb-cell-gap) * 6);
    --hb-gameboard-size: calc((var(--hb-cell-size) * 4) + (var(--hb-cell-gap) * 5));
    --hb-action-wrapper-background-color: #eae7d9;
    --hb-action-help-icon-background-color: #baac9a;
    --hb-action-help-icon-count-color: #988878;
}

* {
    font-family: "Rubik", sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: var(--hb-body-background-color);
    position: relative;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.score {
    padding: 0 1rem;
    flex-basis: min-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr;
    grid-template-areas: ". title new-game"
                            "score score score";
}

#score__game-title {
    font-size: 3rem;
    font-weight: 700;
    color: var(--hb-game-title-color);
    grid-area: title;
    text-align: center;
    user-select: none;
}

.score > div {
    display: flex;
    margin: 0 calc(var(--hb-row-gutter-x) * -1);
}

#score__container {
    grid-area: score;
}

.score__score--container {
    flex: 1;
    padding: 0.5rem var(--hb-row-gutter-x);
}

.score__score--wrapper {
    border-radius: 0.875rem;
    padding: 0.5rem;
    border: 0.1rem solid var(--hb-score-background-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#score__current-score--wrapper {
    background-color: var(--hb-score-background-color);
}

#score__highest-score--wrapper {
    background-color: transparent;
}

.score__score--wrapper > p {
    text-align: center;
    color: var(--hb-score-color);
    padding: 0 0.5rem;
    user-select: none;
}

.score__score--title {
    font-size: 0.75rem;
    font-weight: 500;
}

.score__score--value {
    font-size: 1.25rem;
    font-weight: 700;
}

#score__new-game--container {
    justify-content: flex-end;
    grid-area: new-game;
    align-items: center;
}

#score__new-game--wrapper {
    padding: 0.5rem var(--hb-row-gutter-x);
    height: min-content;
    display: flex;
}

#score__new-game--icon {
    font-size: 1.5rem;
    color: var(--hb-new-game-icon-color);
    margin-left: 0.5rem;
    display: block;
}

#score__new-game--btn {
    border: none;
    display: none;
    background-color: var(--hb-new-game-btn-background-color);
    padding: 0.5rem 1rem;
    color: var(--hb-new-game-btn-color);
    font-weight: 400;
    font-size: 1rem;
    border-radius: 0.625rem;
    margin-left: 0.5rem;
}

.main {
    flex: 1;
    padding: 12px 0;
    display: flex;
    align-items: center;
}

#game-board {
    width: var(--hb-gameboard-size);
    height: var(--hb-gameboard-size);
    display: grid;
    grid-template-rows: repeat(4, var(--hb-cell-size));
    grid-template-columns: repeat(4, var(--hb-cell-size));
    background-color: var(--hb-gameboard-background-color);
    gap: var(--hb-cell-gap);
    border-radius: 1vmin;
    padding: var(--hb-cell-gap);
    position: relative;
    margin: 0 auto;
}

.action {
    display: flex;
    justify-content: center;
    flex-basis: min-content;
    padding: 1rem 0;
}

.action__wrapper {
    background-color: var(--hb-action-wrapper-background-color);
    padding: 0.75rem;
    display: flex;
    border-radius: 0.75rem;
}

.action__help-wrapper {
    padding: 0 0.5rem;
    display: flex;
}

.action__help-icon-wrapper {
    width: 3rem;
    height: 3rem;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--hb-action-help-icon-background-color);
    border-radius: 0.5rem;
    position: relative;
    cursor: pointer;
}

.action__help-wrapper.disable .action__help-icon-wrapper {
    --hb-action-help-icon-background-color: #dbd5c6;
}

.action__help-icon {
    font-size: 1.75rem;
    color: var(--hb-pure-white-color);
}

.action__help-icon--count-container {
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    background-color: var(--hb-pure-white-color);
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action__help-icon--count {
    font-size: 1rem;
    font-weight: bold;
    color: var(--hb-action-help-icon-count-color);
}

.action__help-wrapper.disable .action__help-icon--count {
    --hb-action-help-icon-count-color: #dbd5c6;
}

.action__help-info-wrapper {
    font-size: 1rem;
    display: none;
    align-items: center;
    justify-content: center;
}

.action__help-info-content {
    padding: 0 0.75rem;
    user-select: none;
}

.action__help-info-title {
    font-weight: bold;
    font-size: 1.25rem;
}

.action__help-info-remain {
    font-size: 0.875rem;
}

.cell {
    background-color: var(--hb-cell-background-color);
    border-radius: 1vmin;
    width: var(--hb-cell-size);
    height: var(--hb-cell-size);
}

.tile {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--hb-cell-size);
    height: var(--hb-cell-size);
    font-size: var(--hb-tile-font-size);
    border-radius: 1vmin;
    top: calc(var(--y) * (var(--hb-cell-size) + var(--hb-cell-gap)) + var(--hb-cell-gap));
    left: calc(var(--x) * (var(--hb-cell-size) + var(--hb-cell-gap)) + var(--hb-cell-gap));
    font-weight: bold;
    background-color: var(--hb-tile-bg-color);
    animation: show 200ms ease-in-out;
    transition: 100ms ease-in-out;
    color: var(--hb-tile-number-color);
    user-select: none;
}

@keyframes show {
    0% {
        opacity: 0.5;
        transform: scale(0);
    }
}